#quote_container {
  max-width: 600px;
  margin: 4em auto 0;
}

#quote_container h3 {
  text-align: center;
}

#quote {
  margin-top: 2em;
}

#quote_reload {
  margin-left: 50%;
  transform: translateX(-50%);
}
